.flex-dp {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}


.button {
    padding: 15px 25px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ff80b3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 9px;
  }

.button.active {
    background-color: #ff0066;
}